$headerBackColor: orange;
$headerTextColor: #FFFFFF;

.main-header {
  // margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $headerBackColor;

  height: 400px;
  width:100%;
  margin: 1.5em;

  color: $headerTextColor;

  background-image: url('/images/brick-wall-dark.png');

  font-size: 32px;
}

.first-name{
  font-weight: bold;
}