$navPrimaryColor: #4056A1;
$navTextColor: #FFFFFF;
$navArrowColor: red;
$navFont: 'Bungee', cursive;

nav {
  position: fixed;
  top: 0;

  height: 120px;
  width:100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: $navPrimaryColor;
  color: $navTextColor;
  
  padding-right: 1.5em;
  padding-left: 1.5em;

  .logo {
    font-family: $navFont;
  }

  .fa-angle-double-down {
    color: $navArrowColor;
  }

  .new-tweet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    align-self: center;
  }
}



