.main-header {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-image: url("/images/brick-wall-dark.png");
  font-size: 32px;
}

.first-name {
  font-weight: bold;
}
