nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-style: double;
  border-color: red;
}

.logo {
  font-family: "Bungee", cursive;
}

.fa-angle-double-down {
  color: red;
}

.new-tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
